{{!-- To fill sidebar in homepage if logged in with current user data --}}

{{!-- Login button if not logged in --}}
{{!-- Username. Link to /partials/user.handlebars --}}
{{!-- Nav functions --}}
<script src="../../assets/js/taskComplete.js"></script>

<div class="d-flex justify-content-center mt-3 ">
    <div class="col-11">
        <div class="d-flex justify-content-start">
            <!-- user-menu start -->
            <div class="user-menu d-flex col-2">
                <div class="profile d-flex align-items-center">
                    <img src="/assets/images/PlaceholderPFP.png" alt="user">
                    <h2>{{user.username}}</h2>
                </div>
            
                <div class="pages align-items-center">
                    <h4 class="mini-heading d-flex align-items-center">Profile</h4>
        
                    <div class="pages profile d-flex">
                        <h3 id="total-points"></h3>
                        <h2 class="text-center">+ยง X This Week..</h2>
                    </div>
        
                    <button class="see-more-btn">Weekly Summary  <i class="fa-solid fa-angle-down"></i></button>

                    <!-- Prog Ring start -->
                    <div class="wrapper pages d-flex align-items-center">
                        <div class="card">
                        <div class="circle">
                            <div class="bar"></div>
                            <div class="box"><span></span></div>
                        </div>
                        <div class="text">Daily Progress</div>
                        </div>
                    </div>
                    <!-- Prog ring end -->
        
                    <button class="see-more-btn" type="button" data-toggle="collapse" data-target="#userTasks" aria-expanded="false" aria-controls="userTasks">
                        See more <i class="fa-solid fa-angle-down"></i>
                    </button>

                    <div class="collapse" id="userTasks">
                    <!-- Loop through user tasks -->
                    Click what you have completed!
                    <ul>
                        {{#each currentUser.tasks}}
                            <li>
                                <button class="btn complete-task" data-task-id="{{this.id}}">
                                    {{#if this.completed}}
                                        Completed!
                                    {{else}}
                                        {{this.task_name}}
                                    {{/if}}
                                </button>
                            </li>
                        {{/each}}
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- user-menu end -->

