{{!-- User details for logged in account --}}

 <!-- user-menu start -->
    <div class="user-menu">

        <div class="profile">
            <img src="images/PlacegholderPFP.png" alt="user">
            <h3>Krood donahue</h3>
            
        </div>
       
        <div class="profile">
            <h3>+ยง419 This Week..</h3>
        </div>

        <div class="pages">

            
            <h4 class="mini-headign">Profile</h4>
            <button class="see-more-btn">Weekly Summary  <i class="fa-solid fa-angle-down"></i></button>

            <!-- Prog Ring start -->
            <div class="wrapper">
                <div class="card">
                  <div class="circle">
                    <div class="bar"></div>
                    <div class="box"><span></span></div>
                  </div>
                  <div class="text">Daily Progress</div>
                </div>
              </div>
              <!-- prog ring end -->

              <button class="see-more-btn">See more <i class="fa-solid fa-angle-down"></i></button>

        </div>

    </div>
    <!-- user-menu end -->