{{!-- To fill user feed cards in homepage. Also use for sidebar? --}}

{{!-- User, streak if any --}}
{{!-- Progress bar with points. x/100 pts for the day --}}
{{!-- Task list for the day(complete or incomplete) --}}
{{!-- Time of last completion --}}

        <li class="list-item d-flex container-fluid">
            <img class="mr-4" src="images/PlacegholderPFP.png" alt="user picture">
            <div class="container d-block row"><h3>User Placeholder</h3><p>Task Placeholder</p></div>
            <h1 class="daily mr-3">+ยง X</h1>
        </li>