{{!-- To fill user feed cards in homepage. Also use for sidebar? --}}

{{!-- User, streak if any --}}
{{!-- Progress bar with points. x/100 pts for the day --}}
{{!-- Task list for the day(complete or incomplete) --}}
{{!-- Time of last completion --}}

        <div class="task-post">
            <div class="task-post-container">
                <div class="task-p-main">
                    <div class="post-title">
                        <img src="images/IMG_6839.PNG" alt="user picture">
                        <ul>
                            <li><h3>User Name <span> . 2 hours ago</span></h3></li>
                            <li><span>May 15, 2023 12:55 PM</span></li>
                        </ul>
                        <p>Just Showered For The First Time Ever!</p>
                    </div>

                </div>
            </div>
        </div>