<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Social Thingamabob</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/7c687f214c.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js"></script>
</head>

<body>

<!-- Header Start -->
    <header>
       
        <div class="header-container">
            <div class="header-wrapper">
                <div class="logoBox">Social Task Manager</div>
                
                

                <!-- <div class="searchBox">
                    <input type="search">
                </div> -->

            </div>
        </div>
    </header>
<!-- Header End -->

<main>
    <aside>
    {{!-- User data or login link. /partials/user-details.handlebars --}}
    </aside>
    <div>
    {{{body}}}
    </div>
</main>
</body>

</html>