<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Task Social Thingamabob</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<header>
    <h1>Task Social Thingamabob</h1>
</header>
<nav>
    <a href="/">Home</a>
</nav>
<main>
    <aside>
    {{!-- User data or login link. /partials/user-details.handlebars --}}
    </aside>
    <div>
    {{{body}}}
    </div>
</main>
</body>

</html>