{{!-- Leader board top 3 or so. Pinned to top? --}}

{{!-- Sidebar with navigation. Display user info if logged in. Log in link if logged out. /partials/logged-in-user.handlebars --}}

{{!-- User cards with most recent user activity under leader board. /partials/user-details.handlebars --}}

{{!-- Task Feed List Container --}}
    <div>
        {{#each users}}
        {{> user-card}}
        {{/each}}
    </div>
    {{!-- Task Feed End  --}}
