{{!-- Leader board top 3 or so. Pinned to top? --}}

{{!-- Sidebar with navigation. Display user info if logged in. Log in link if logged out. /partials/logged-in-user.handlebars --}}

{{!-- User cards with most recent user activity under leader board. /partials/user-details.handlebars --}}


    <div class="home">
        <div class="container">
            <div class="home-weapper">

   

    


    <div class="home-center">
        
        <div class="feed-selector">
            <div class="feed-selector-container">
                <div class="feed-selector-header">

                    <!-- toggle switch -->
                    <div class="toggle-switch">
                        <input type="radio" name="toggle" id="option1" checked>
                        <label for="option1"><img class="taskicon" src="images/Task.svg" alt=""></label>
                        <input type="radio" name="toggle" id="option2">
                        <label for="option2"><i class="fa-solid fa-user-plus"></i></label>
                        <input type="radio" name="toggle" id="option3">
                        <label for="option3"><i class="fa-solid fa-trophy"></i></label>
                        <span class="slider"></span>
                    </div>
                    <!-- toggle switch end -->
                    
                </div>
            </div>
        </div>
        
    </div>
    
    <!-- home-center end -->

            </div>
        </div>
    </div>