{{!-- Leader board top 3 or so. Pinned to top? --}}

{{!-- Sidebar with navigation. Display user info if logged in. Log in link if logged out. /partials/logged-in-user.handlebars --}}

{{!-- User cards with most recent user activity under leader board. /partials/user-details.handlebars --}}

{{!-- Task Feed List Container --}}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-12">
            {{> homepage-sidebar}}
        </div>
        <div class="col-lg-6 col-md-12">
            {{#each users}}
            {{> user-card}}
            {{/each}}
        </div>
        <div class="col-lg-3"></div>
    </div>

</div>
{{!-- Task Feed End  --}}
