{{!-- leaderboard --}}

{{!-- sort users by highest point totals. Sort by date, timeframe? --}}

<div class="leader-bg">
    <div class="leader-container col-12 my-4">
        <p class=" list-title text-center text-lg font-weight-bold">LEADERBOARD</p>
        <ol>
            <li class="list-item d-flex container-fluid">
                <img class="mr-4" src="assets/images/PlaceholderPFP.png" alt="user picture">
                <div class="container d-block row"><h1 class="">1. rosa99 <i class="fa-solid fa-award" style="color: gold"></i></h1><h2 class="alltime justify-content-start ml-1">§70</h2></div>
                <h1 class="weekly mr-3">+§70</h1>
            </li>
            <li class="list-item d-flex container-fluid">
                <img class="mr-4" src="assets/images/PlaceholderPFP.png" alt="user picture">
                <div class="container d-block row"><h1 class="">2. landywandy8 <i class="fa-solid fa-award" style="color: silver"></i></h1><h2 class="alltime justify-content-start ml-1">§60</h2></div>
                <h1 class="weekly mr-3">+§60</h1>
            </li>
            <li class="list-item d-flex container-fluid">
                <img class="mr-4" src="assets/images/PlaceholderPFP.png" alt="user picture">
                <div class="container d-block row"><h1 class="">3. kroodkronahue7 <i class="fa-solid fa-award" style="color: rosybrown"></i></h1><h2 class="alltime justify-content-start ml-1">§50</h2></div>
                <h1 class="weekly mr-3">+§50</h1>
            </li>
            <li class="list-item d-flex container-fluid">
                <img class="mr-4" src="assets/images/PlaceholderPFP.png" alt="user picture">
                <div class="container d-block row"><h1 class="">4. andrewbie9</h1><h2 class="alltime justify-content-start ml-1">§40</h2></div>
                <h1 class="weekly mr-3">+§40</h1>
            </li>
            <li class="list-item d-flex container-fluid">
                <img class="mr-4" src="assets/images/PlaceholderPFP.png" alt="user picture">
                <div class="container d-block row"><h1 class="">5. bellaborrego45</h1><h2 class="alltime justify-content-start ml-1">§0</h2></div>
                <h1 class="weekly mr-3">+§0</h1>
            </li>
        </ol>
    </div>
</div>
