{{!-- User login page --}}

{{!-- Redirect to homepage once logged in. --}}
<div class="container text-center w-40">
    <form class="row mt-5 ">
        <div class="row-lg-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="row-lg-6 mt-2">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</div>