{{!-- User registration page --}}

{{!-- Redirect to homepage once registered. --}}
<div class="container text-center">
    <form class="row-lg-6">
        <div class="row">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="row">
            <label for="inputEmail4">Username</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="col-lg-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Must be at least 8 characters">
        </div>
        <div class="col-lg-6">
            <label for="inputPassword4" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Must match above password">
        </div>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</div>