{{!-- User registration page --}}

{{!-- Redirect to homepage once registered. --}}
<div class="container text-center w-50">
    <form class="row mx-5">
        <div class="col-lg-6 mt-5">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="col-lg-6 mt-5">
            <label for="inputEmail">Username</label>
            <input type="text" class="form-control" id="inputUsername">
        </div>
        <div class="col-lg-6 mt-5">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Must be at least 8 characters">
        </div>
        <div class="col-lg-6 mt-5">
            <label for="inputPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Passwords must match!">
        </div>
        <div class="col-12 text-center mt-5">
            <button type="submit" class="btn btn-primary">Sign up!</button>
        </div>
    </form>
</div>
